@media (min-width: 1170px) {
	.custom-date {
		margin-left: 20px;
		margin-right: 20px;
	}
}

h2::after {
	content: "";
	display: inline-block;
	position: relative;
	top: -10px;
	width: 300px;
	height: 1px;
	margin-left: 20px;
	background-color: #64748b;
}
